@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
    --primaryColor : #50B958;
    --primaryColorBlur : #A0ECA6;
    --seconderyColor : #32AFD3;
    --therdColor : #F50057;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
}

.bold-text{
    font-weight: bold;
}

.box-center {
    width: 100%;
    padding: 10px;
    margin: 60% 0px 0px 0px;
}

.image-box {
    width: 100%;
}

.welcome-login {
    max-width: 350px;
    margin: 10px auto;
    padding: 20px;
}

.card-login {
    max-width: 400px;
}

/* fungsi sembunyi */
.hiden-mobile {
    display: none;
}

/* padding */
.p-small {
    padding: 20px;
}

/* colors */
.color-primary {
    color: var(--primaryColor);
}

.color-primary-blur {
    color: var(--primaryColorBlur);
}

.color-secound {
    color: var(--seconderyColor);
}

.color-white {
    color: #FFFFFF;
}
/* tombol */
.b-primary {
    background-color: var(--primaryColor) !important;
    color: #FFFFFF !important;
}

.b-secound {
    background-color: var(--seconderyColor) !important;
    color: #FFFFFF !important;
}

.b-red {
    background-color: var(--therdColor) !important;
    color: #FFFFFF !important;
}

.b-white {
    color: #030303 !important;
    background-color: #FFFFFF !important;
}

.b-grey {
    color: #030303 !important;
    background-color: #f0ebeb !important;
}

.jumbo-screen{
    margin-top: 10vh;
    padding: 10px;
}

.top-space {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

/* text */
.space-text-50 {
    line-height: 60px;
}

.space-text-30 {
    line-height: 30px;
}

.space-text-20 {
    line-height: 25px;
}

.size-jumbo {
    font-size: 3.5rem;
}

.bg-footer {
    background-color: #343434;
    color: #FFFFFF;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#dataTables_filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
}

/* media lebih dari ukuran 789px / ukuran tab ke atas */
@media only screen and (min-width: 768px) {
    .hiden-mobile {
        display: inline;
    }

    .box-center {
        padding: 10px;
        margin: 0px auto;
        max-width: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-login {
        max-width: 350px;
    }

    .jumbo-screen{
        margin-top: 5vh;
        padding: 10px;
    }

    .size-jumbo {
        font-size: 2.5rem;
    }
}

/* media ukuran dekstop keatas  */
@media only screen and (min-width: 1024px) {
    .card-login {
        max-width: 400px;
    }

    .welcome-login {
        max-width: 500px;
    }

    .jumbo-screen{
        margin-top: 25vh;
        padding: 10px;
    }
}